.section-good-design {
	position: relative;
	padding: 180px 16px;
	padding-bottom: 173px;
	background-image: ("../img/Rectangle\ 8.jpg");
	background: url("../img/Rectangle\ 8.jpg");
	background-size: cover;
	background-position: center center;
	z-index: -1;

	@media (min-width: $bp-md) {
		padding: 274px 32px;
		padding-bottom: 294px;
	}

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		content: "";
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: 0.5;
		z-index: -1;
	}

	& p {
		color: #fff;
		text-align: center;
		font-size: 24px;
		font-weight: 700;

		@media (min-width: $bp-md) {
			font-size: 48px;
		}
	}
}
