@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin', sans-serif;
}

.header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.header-top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 52px;
    background-color: #10BBD5;
    color: white;
    line-height: 24px;
}

.header-logo-wrapper {
    display: block;
}

.shopping-cart-section {
    display: flex;
    gap: 17px;
    align-items: center;
}

.header-action-ribbon {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.header-action-ribbon a {
    display: block;
    text-decoration: none;
    color: black;
}

.header-action-ribbon {
    display: flex;
    padding: 4px 52px;

}

.header-action-ribbon div {
    display: flex;
    gap: 40px;
}

.main-wrapper {
    background-color: #EEEEEF;
}

.main-heading {
    padding: 36px 0 23px;
    border-bottom: 1px solid black;
    margin: 0 52px 26px;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
}

.book-items-container {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 24px;
    justify-content: center;
    padding: 0 52px 120px;
    align-items: start;
}

.book-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
    border: 1px solid #A8A8A8;
    box-sizing: border-box;
    background-color: white;
    max-width: 306px;

}

.book-item a {
    display: block;
    position: relative;
    padding: 0 32px;
    width: 242px;
    box-sizing: border-box;

}

.book-item img {
    width: 178px;
}

.book-item-image-wrapper>p {
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px 8px;
    color: white;
    border-radius: 4px;
}

.book-item-image-wrapper div {
    display: flex;
    gap: 4px;
    position: absolute;
    top: 0;
    left: 0;
}

.book-item-image-wrapper p {
    padding: 4px 8px;
    color: white;
    border-radius: 4px;
    line-height: 24px;
}

.special-offer-hit {
    background-color: #4200FF;
}

.special-offer-new {
    background-color: #AF39E7;
}

.special-offer-discount {
    background-color: #EA33C0;
}

.book-item-name {
    color: black;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.book-item-author {
    border-top: 1px solid #8E8E8E;
    color: #8E8E8E;
    font-weight: 400;
    line-height: 24px;
}

.book-item-price {
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.book-item-discount-price {
    color: #8E8E8E;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-decoration: line-through;
}

.book-item-description div {
    display: flex;
    gap: 24px;
}

.CTA-button-buy {
    background-color: #4C394E;
    border-radius: 4px;
    padding: 8px 24px;
    color: white;
    line-height: 24px;
    border: none;
}

.CTA-button-buy.CTA-button-end-up {
    background-color: #4D762D;
}

.chat-button-sticky {
    position: sticky;
    top: 75%;
    margin-left: 95%;
    border-radius: 50%;
    background-color: #10BBD5;
    border: none;
    min-width: 64px;
    min-height: 64px;
    padding: 0;

}

.chat-button-sticky img {
    max-width: 50px;
    max-height: 50px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 32px 52px;
    background-color: #4C394E;
    color: white;
}
.footer-wrapper p {
    font-weight: 400;
    line-height: 24px;
}