#ava_modal_description {
    padding: 30px;
    border: 0;
    cursor: default;
    font-size: 25px;
}

.remove_ava_btn {
    color: red;
}

.choose_file_btn {
    justify-content: center;
    padding: 15px;
    border: 0;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border-top: 1px solid black;
    width: 100%;
}