.main-wrapper {
	background-color: #eeeeef;
}

.main-wrapper__main-heading {
	padding: 36px 0 23px;
	border-bottom: 1px solid black;
	margin: 0 52px 26px;
	font-size: 32px;
	font-weight: 600;
	line-height: 40px;
}

.book-items-container {
	display: flex;
	flex-wrap: wrap;
	gap: 32px 24px;
	justify-content: center;
	padding: 0 52px 120px;
	align-items: start;
}

.book-items-container__book-item {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 32px;
	border: 1px solid $book-item-border-color;
	box-sizing: border-box;
	background-color: white;
	max-width: 306px;
}

.book-items-container__book-item-image-wrapper {
	display: block;
	position: relative;
	padding: 0 32px;
	width: 242px;
	box-sizing: border-box;
}

.book-items-container__book-item-image-wrapper {
	img {
		width: 178px;
	}
}

.book-items-container__book-item-image-wrapper > p {
	position: absolute;
	top: 0;
	left: 0;
	padding: 4px 8px;
	color: white;
	border-radius: 4px;
	width: fit-content;
}

.book-items-container__special-offer-items-container {
	display: flex;
	gap: 4px;
	position: absolute;
	top: 0;
	left: 0;
}

.book-items-container__special-offer {
	padding: 4px 8px;
	color: white;
	border-radius: 4px;
	line-height: 24px;
}

.book-items-container__special-offer--hit {
	background-color: $main-button-background;
}

.book-items-container__special-offer--new {
	background-color: $new-chip-color;
}

.book-items-container__special-offer--discount {
	background-color: $discount-chip-color;
}

.book-items-container__book-item-name {
	color: black;
	font-size: 20px;
	font-weight: 700;
	line-height: 28px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.book-items-container__book-item-author {
	border-top: 1px solid $author-name-color;
	color: $author-name-color;
	font-weight: 400;
	line-height: 24px;
}

.book-items-container__book-item-price {
	color: $main-price-color;
	font-size: 24px;
	font-weight: 500;
	line-height: 32px;
}

.book-items-container__book-item-discount-price {
	color: $previous-price-color;
	font-size: 24px;
	font-weight: 500;
	line-height: 32px;
	text-decoration: line-through;
}

.book-items-container__book-item-description {
	div {
		display: flex;
		gap: 24px;
	}
}

.book-items-container__cta-button-buy {
	background-color: $main-button-background;
	border-radius: 4px;
	padding: 8px 24px;
	color: white;
	line-height: 24px;
	border: none;
	transition: $transition-value;

	&:hover {
		background-color: $main-button-hover-color;
	}
}

.book-items-container__cta-button-buy--end-up {
	background-color: $cta-end-up-color;
	transition: $transition-value;

	&:hover {
		background-color: $end-up-button-hover-color;
	}
}
