.main-wrapper__chat-button-sticky {
	position: sticky;
	top: 75%;
	margin-left: 95%;
	border-radius: 50%;
	background-color: #10bbd5;
	border: none;
	min-width: 64px;
	min-height: 64px;
	padding: 0;
	transition: $transition-value;

	&:hover {
		transform: rotate(20deg);
	}
}

.chat-button-sticky {
	img {
	}
	max-width: 50px;
	max-height: 50px;
}
