.header {
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: column;
	z-index: 100;
}

.header__top-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 52px;
	background-color: #10bbd5;
	color: white;
	line-height: 24px;
}

.header__logo {
	display: block;
}

.header__shopping-cart-section {
	display: flex;
	gap: 17px;
	align-items: center;
}

.header__action-ribbon {
	display: flex;
	justify-content: space-between;
	background-color: white;
}

.header__action-ribbon {
	a {
		display: block;
		text-decoration: none;
		color: black;
	}
}

.header__action-ribbon {
	display: flex;
	padding: 4px 52px;
}

.header__action-ribbon {
	div {
		display: flex;
		gap: 40px;
	}
}
