$primary: #c80043;
$secondary: #d80fdc;
$white: #fff;
$black: rgb(0, 0, 0);
$gray: #9b9b9b;

.container {
    display: flex;
    gap: 2em;
    width: fit-content;
    margin-left: 40%;
    padding-top: 1em;

    .recommendations_container {
        .recommendations_title {
            font-size: 20px;
            opacity: 0.8;
            padding-bottom: 10px;
        }

        display: flex;
        flex-direction: column;
        gap: 0.5em;
        padding: 2em;
    }

    .posts_container {
        display: flex;
        flex-direction: column;
        width: fit-content;
    }

    .purple_text {
        background: linear-gradient(to right, $primary, $secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .purple_button {
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        position: relative;
        cursor: pointer;
    
        background: linear-gradient(to right, $primary, $secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 10px;
            border: 2px solid transparent;
            background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to right, $primary, $secondary) border-box;
            z-index: -1;
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form__group {
    position: relative;
    padding: 5px 0 0;
    width: 50%;
    }
    
    .form__field {
        font-family: inherit;
        width: 100%;
        border: 0;
        border-bottom: 2px solid $gray;
        outline: 0;
        font-size: 1.3rem;
        color: $black;
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;
    
        &::placeholder {
            color: transparent;
        }
    
        &:placeholder-shown ~ .form__label {
            font-size: 1.3rem;
            cursor: text;
            top: 20px;
        }
    
        &:focus {
            padding-bottom: 6px;
            font-weight: 700;
            border-width: 3px;
            border-image: linear-gradient(to right, $primary, $secondary);
            border-image-slice: 1;
    
            ~ .form__label {
            position: absolute;
            top: 0;
            display: block;
            transition: 0.2s;
            font-size: 1rem;
            color: $primary;
            font-weight: 700;
            }
        }
    
        &:required, &:invalid {
            box-shadow: none;
        }
    }
    
.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $gray;
    pointer-events: none;
}

img { 
    width: 500px;
}