@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Inter:wght@600&display=swap');

body {
    font-family: 'Cabin', sans-serif;
}

.header-wrapper {
    display: flex;
    color: black;
    justify-content: space-between;
    padding: 12px 52px 0 52px;
}

.header-wrapper a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header-wrapper nav {
    display: flex;
    align-items: center;
}

.logo-wrapper {
    display: flex;
    gap: 18px;
    align-items: center;
    font-size: 28px;
    font-weight: 500;
    color: black;
}

.logo-wrapper img {
    display: block;

}

.main-navigation-menu {
    display: flex;
    gap: 56px;
    font-size: 20px;
}

.main-navigation-menu a {
    color: black;
    text-decoration: none;
}

.main-navigation-menu a.active {
    color: #425DF8;
    cursor: default;
}

.button-wrapper {
    display: flex;
    gap: 24px;
    align-items: center;
}

.button-wrapper .btn {
    min-width: 110px;
    padding: 18px 22px;
    background: none;
    border: 1px solid #DADADA;
    font-size: 18px;
    border-radius: 8px;
}

.button-wrapper .btn.primary {
    background-color: #425DF8;
    color: white
}

.pricing-page-heading-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 145px;
    gap: 24px;
}

.pricing-page-heading-section h1 {
    font-size: 64px;
    font-weight: 500;
    line-height: 64px;
}

.pricing-page-heading-section h2 {
    font-size: 22px;
    color: #7F828A;
    line-height: 22px;
}

.pricing-options-section {
    margin-top: 120px;
    display: flex;
    padding: 0 52px;
    gap: 24px;
    justify-content: center;
}

.pricing-option-card {
    display: flex;
    flex-direction: column;
    gap: 87px;
    font-size: 22px;
    color: #7F828A;
    font-weight: 400;
    text-align: center;
    padding: 56px;
    border: 1px solid #DADADA;
    border-radius: 24px;
    align-items: center;
    box-sizing: border-box;
    width: 416px;
    justify-content: space-between;
    margin-top: 28px;
}

.pricing-option-card a {
    display: block;
    padding: 18px 22px;
    min-width: 162px;
    background-color: #425DF8;
    border-radius: 8px;
    color: white;
    width: fit-content;
    text-decoration: none;
}

.pricing-option-card-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.pricing-option-card__heading {
    display: flex;
    flex-direction: column;
    gap: 27px;
    font-size: 22px;
    color: #7F828A;
    font-weight: 400;
    align-items: center;
    line-height: 28px;
}

.pricing-option-card-name {
    font-size: 30px;
    font-weight: 500;
    color: black;
    line-height: 38px;

}

.pricing-wrapper {
    display: flex;
    gap: 16px;
}

.pricing-amount {
    font-size: 64px;
    font-weight: 500;
    color: black;
    line-height: 80px;
}

.pricing-period {
    color: #7F828A;
    align-self: center;
}

.pricing-option-card__description {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.pricing-option-card__description div {
    display: flex;
    gap: 16px;
    text-align: start;
    line-height: 28px;
}

.pricing-option-card__description img {
    max-width: 24px;
    max-height: 24px;
}

.pricing-option-card.special-offer-card {
    margin-top: 0;
    background-color: #161A34;
    color: #F6FDFF;
}
.pricing-option-card__description.special-offer-card{
    gap: auto;
}

.special-offer-card {
    color: white;
}

.footer-wrapper {
    margin-top: 195px;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 18px 52px;
    color: #7F828A;
}

.footer-logo-wrapper {
    display: flex;
    gap: 16px;
    align-items: center;

}

.footer-wrapper img {
    max-width: 24px;
    max-height: 24px;
}