body {
    background-color: #f5f8fa;
    color: #14171a;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.loading {
    display: flex;
    color: #1da1f2;
}

.posts-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.post {
    background-color: #fff;
    border: 1px solid #e1e8ed;
    border-radius: 4px;
    margin-top: 10px;
}

.post:first-child {
    margin-top: 0;
}

.post .card-body {
    padding: 15px;
}

.post .card-title {
    color: #14171a;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.post .card-text {
    color: #14171a;
    font-size: 14px;
    line-height: 1.5;
}

.post .delete-post {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

.post .delete-post:hover {
    background-color: #ff3333;
}

.modal-content {
    background-color: #fff;
    border-radius: 4px;
}

.modal-header,
.modal-body {
    padding: 20px;
}

.modal-title {
    font-size: 18px;
    font-weight: bold;
    color: #14171a;
}

.submit-post {
    background-color: #1da1f2;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}

.submit-post:hover {
    background-color: #0d95e8;
}

.form-control {
    border-radius: 4px;
    border: 1px solid #ccd6dd;
    font-size: 14px;
}

.close {
    color: #657786;
    opacity: 1;
}

.close:hover {
    color: #000;
    text-decoration: none;
    opacity: 0.75;
}
.pagination {
    text-align: center;
    margin-top: 20px;
}

.page-button {
    background-color: #1da1f2;
    color: white;
    border: none;
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.page-button.active,
.page-button:hover {
    background-color: #0d95e8;
}
.loading {
    z-index: 9999;
}