:root {
    --main-accent-color: #006CE5;
    --main-highlight-color: #0B3462;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;400;600;700;800&display=swap');

body {
    font-family: Urbanist;
}

.main-site-header {
    display: flex;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 44px;
}

.menu-button-wrapper {
    background-color: var(--main-accent-color);
    position: relative;
    height: 47px;
    width: 48px;
    padding: 18px 16px;
}

.header-logo-menu-wrapper {
    display: flex;
    gap: 24px;
    align-items: center;

}

.menu-button {
    width: 16px;
    height: 1px;
    background-color: white;
    position: relative
}

.menu-button::after {
    content: "";
    width: 16px;
    height: 1px;
    background-color: white;
    display: block;
    position: absolute;
    top: 8px;
}

.menu-button::before {
    width: 16px;
    height: 1px;
    background-color: white;
    content: "";
    display: block;
    position: absolute;
    top: 4px;
}

.main-navigation-menu {
    display: none;
}

.header-logo-menu-wrapper svg {
    width: 103px;
    height: 26px;
}

.live-header-wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 0 8px;
    border-left: 1px solid #D4D4D4;
    margin: 10px 0;
}

.live-header-text {
    color: #ED0E05;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.news-articles-section {
    margin: 0 8px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main-section-subheading {
    font-family: Urbanist;
    font-size: 17px;
    font-weight: 400;
    line-height: 125%;
    margin-bottom: 12px;
}

.main-section-heading {
    padding-bottom: 8px;
    border-bottom: 1px solid #D4D4D4;
    font-size: 54px;
    font-weight: 600;
    line-height: 110%;
}

.editorial-articles-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.police-incident-article-photo {
    background-image: url("../images/image\ 1.png");
    background-size: cover;
    background-position: center center;
    height: 416px;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;

}

.police-incident-article-photo::after {
    content: "Poland";
    display: block;
    padding: 10px 20px 10px 0;
    color: var(--main-highlight-color);
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
}

.article-editorial-heading {
    font-size: 24px;
    font-weight: 800;
    line-height: 110%;
}

.police-incident {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.editorial-articles-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.editorial-articles-wrapper article {
    padding-bottom: 24px;
    border-bottom: 1px solid #D4D4D4;
}

.editorial-articles-wrapper article:last-child {
    padding: 0;
    border: none;
}

.editorial-articles-wrapper img {
    margin-bottom: 4px;
    width: 100%;
    height: 100%;
}

.visited-article h3 {
    color: black;
}

.visited-article-image-wrapper {
    display: block;
    position: relative;
    height: max-content;
}

.visited-article-image-wrapper::after {
    content: url(../assets/play-sharp-svgrepo-com\ \(2\).svg);
    background-color: var(--main-accent-color);
    border-radius: 50%;
    padding: 9px 8px 7px 10px;
    width: fit-content;
    height: fit-content;
    z-index: 100;
    position: absolute;
    bottom: 14px;
    right: 2.785%;
}

.article-topic-highlight {
    color: var(--main-highlight-color);
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 6px;
    position: absolute;
}

.bold-article-heading {
    color: black;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    padding-top: 30px;
}

.more-articles-section {
    border-top: 1px solid #D4D4D4;
    padding-top: 32px;
}

.more-articles-heading {
    font-size: 34px;
    font-weight: 800;
    line-height: 110%;
    margin-bottom: 32px;
}

.more-articles-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.more-articles-image {
    margin-bottom: 12px;
    width: 359px;
    height: 168px
}

.more-articles-wrapper-item p:nth-of-type(2) {
    line-height: 120%;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.more-articles-wrapper-item p:nth-of-type(3) {
    font-size: 14px;
    font-weight: 200;
    line-height: 120%;
}

.more-articles-heading-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.more-articles-image-wrapper {
    position: relative;
    width: 359px;
    height: 166px;
}

.play-icon-image {
    width: 359px;
    height: 166px;
}

.more-articles-image-wrapper::after {
    content: url(../assets/play-sharp-svgrepo-com\ \(2\).svg);
    background-color: var(--main-accent-color);
    border-radius: 50%;
    padding: 9px 8px 7px 10px;
    width: fit-content;
    height: fit-content;
    z-index: 100;
    position: absolute;
    bottom: 10px;
    right: 2.785%;
}

.site-pagination-wrapper {
    padding: 10px;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.pagination-button {
    padding: 10px;
    border: 1px solid #D4D4D4;
    border-radius: 50%;
    color: var(--main-accent-color);
    min-width: 37px;
    cursor: pointer;
}

.pagination-next-page-button {
    background: none;
    outline: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.pagination-button.current {
    color: black;
    cursor: auto;
}

.pagination-next-text {
    display: none;
}

.site-search-section {
    background-color: #EEF2F3;
    display: flex;
    justify-content: center;
}

.search-input-wrapper {
    display: flex;
    padding: 0 35px;
}

.search-tags-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
    margin: 0 8px;
    padding: 44px 0;
}

.search-input-wrapper input {
    width: 270px;
}

.search-input-wrapper input::placeholder {
    color: #919191;
    font-size: 14px;
    font-weight: 400;
    line-height: 110%;
    padding: 10px;
}

.search-icon-wrapper {
    max-width: 36px;
    max-height: 36px;
    padding: 10px;
    background-color: var(--main-accent-color);
}

.tags-heading-wrapper {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 16px;
    align-items: center;
}

.tags-heading-wrapper h2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 110%;
}

.tags-buttons-wrapper {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 526px;
}

.tag-item {
    padding: 8px 16px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 800px;
}

.tag-item a {
    color: black;
    font-weight: 400;
    line-height: 120%;
}

.site-footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding: 32px 0 24px;
}

.footer-logo-wrapper {
    width: 154px;
    height: 42px;
}

.site-footer p {
    font-weight: 400;
    line-height: 120%;
}

@media (min-width: 768px) {
    .main-site-header {
        margin-bottom: 32px;
    }

    .header-logo-menu-wrapper svg {
        width: 114px;
        height: 32px;
    }

    .main-section-subheading {
        font-size: 22px;
        margin-bottom: 4px;
    }

    .main-section-heading {
        font-size: 62px;
    }

    .news-articles-section {
        margin: 0 12px;
    }

    .police-incident-article-photo {
        background-position: 0% 0%;
    }

    .article-editorial-heading {
        font-size: 28px;
    }

    .news-articles-section {
        margin: 0 12px;
    }

    .editorial-articles-wrapper article {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .visited-article h3 {
        color: black;
    }

    .article-topic-highlight {
        padding: 6px 20px 0 0;
    }

    .editorial-articles-wrapper img {
        margin: 0;
        width: 296px;
        height: 166px;
    }

    .editorial-articles-wrapper h3 {
        padding: 10px 20px 10px 0;
    }

    .more-articles-heading-wrapper {
        width: 57%;
    }

    .more-articles-image-wrapper {
        width: 296px;
        height: 168px;
    }

    .visited-article-image-wrapper::after {
        bottom: 10px;
    }

    .more-articles-image-wrapper::after {
        bottom: 10px;
    }

    .more-articles-wrapper-item {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .play-icon-image {
        width: 296px;
        height: 168px;
    }

    .more-articles-image {
        width: 296px;
        margin: 0;
        height: 166px;
    }

    .pagination-next-button {
        display: block;
        color: var(--main-accent-color);
        font-size: 14px;
        font-weight: 800;
        line-height: 120%;
        text-transform: uppercase;
        cursor: pointer;
        border: none;
        outline: none;
        background: none;
    }

    .search-tags-wrapper {
        width: 526px;
        margin: 0;
    }

    .footer-logo-wrapper {
        width: 196px;
        height: 54px;
    }

    .footer-logo-wrapper svg {
        height: auto;
        width: 100%;
    }
}

@media (min-width: 1368px) {
    .news-articles-section {
        margin: 0 35px;
    }

    .menu-button-wrapper {
        display: none;
    }

    .main-site-header {
        padding: 14px 36px;
    }

    .main-navigation-menu {
        display: block;
    }

    .main-navigation-menu-container {
        display: flex;
        gap: 40px;
    }

    .main-navigation-menu a {
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        color: black;
    }

    .main-site-header {
        margin-bottom: 48px;
    }

    .editorial-articles-section {
        display: flex;
        flex-direction: row;
        margin-bottom: 24px;
    }

    .editorial-articles-wrapper {
        gap: 32px;
    }

    .editorial-articles-wrapper img {
        height: 110px;
        width: 198px;
    }

    .editorial-articles-wrapper article:last-child {
        padding: 0;
    }

    .editorial-articles-wrapper article {
        padding-bottom: 32px;
    }

    .more-articles-section {
        padding-top: 56px;
        display: flex;
        gap: 36px;
        margin-bottom: 32px;
    }

    .more-articles-wrapper {
        width: 62%;
    }

    .more-articles-wrapper-item img {
        width: 306px;
        margin: 0;
        height: 172px;
    }

    .more-articles-heading-wrapper {
        width: 61%;
    }

    .more-articles-image-wrapper {
        width: 306px;
        height: 172px;
    }

    .play-icon-image {
        width: 306px;
    }

    .more-articles-heading {
        margin: 0;
    }

    .site-pagination-wrapper {
        margin-bottom: 40px;
    }

}