$main-button-background: #4c394e;
$hit-chip-color: #4200ff;
$main-price-color: #e90000;
$cta-end-up-color: #4d762d;
$previous-price-color: #8e8e8e;
$discount-chip-color: #ea33c0;
$new-chip-color: #af39e7;
$author-name-color: #8e8e8e;
$book-item-border-color: #8e8e8e;
$end-up-button-hover-color: #6db236;
$main-button-hover-color: #744978;
$transition-value: 0.3s ease-in-out;
