@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Cabin', sans-serif;
}

.header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.header-top-menu,
.footer-wrapper {
    background-color: #6D91DC;
}

.header-top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 52px;
    color: white;
    line-height: 24px;
}

.header-logo-wrapper {
    display: block;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-logo {
    font-family: 'rochester', cursive;
    color: white;
    text-decoration: none;
    font-size: 28px;
}

.shopping-cart-section {
    display: flex;
    gap: 17px;
    align-items: center;
}

.cart-icon-wrapper {
    max-height: 40px;
}

.menu-items-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.header-action-ribbon a {
    display: block;
    text-decoration: none;
    color: black;
}

.header-action-ribbon {
    padding: 4px 52px;
    background-color: white;
}

.header-action-ribbon div {
    display: flex;
    gap: 40px;
}

.cart-icon-wrapper {
    position: relative;
}

.cart-items-added-number {
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 2px);
    font-size: 12px;
    font-weight: 500;
    line-height: 10px;
    color: white;
}

.main-wrapper {
    background-color: #EEEEEF;
}

.checkout-section {
    margin-bottom: 121px;
}

.main-heading {
    padding: 36px 0 23px;
    border-bottom: 1px solid #A8A8A8;
    margin: 0 52px 56px;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
}

.checkout-form {
    display: flex;
    gap: 130px;
    margin: 0 52px;
}

.checkout-delivery-details-section {
    display: flex;
    flex-direction: column;
    margin-left: 110px;
    width: 416px;
    gap: 32px;
}

.checkout-delivery-details-section input {
    outline: none;
    border: 1px solid #8E8E8E;
    border-radius: 4px;
}

.checkout-delivery-details-section textarea {
    outline: none;
    border: 1px solid #8E8E8E;
    border-radius: 4px;
}

.form-subheading {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.contact-details-fieldset {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact-details-fieldset div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-details-fieldset input {
    padding: 10px;

}

.contact-details-fieldset input:focus {
    border-radius: 4px;
    border: 1.5px solid #2080F6;
    box-shadow: 0px 0px 0px 3px rgba(36, 100, 241, 0.15);
}

.delivery-details-fieldset textarea:focus {
    border-radius: 4px;
    border: 1.5px solid #2080F6;
    box-shadow: 0px 0px 0px 3px rgba(36, 100, 241, 0.15);
}

.comments-on-the-order-input-wrapper textarea:focus {
    border-radius: 4px;
    border: 1.5px solid #2080F6;
    box-shadow: 0px 0px 0px 3px rgba(36, 100, 241, 0.15);
}

.contact-details-fieldset textarea:focus {
    border-radius: 4px;
    border: 1.5px solid #2080F6;
    box-shadow: 0px 0px 0px 3px rgba(36, 100, 241, 0.15);
}

.delivery-details-fieldset {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.delivery-address-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.delivery-date-input-wrapper {
    display: flex;
    gap: 19px;
    align-items: center;
}

.delivery-date-input-wrapper input {
    padding: 2px 8px
}

.comments-on-the-order-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.checkout-delivery-details-section textarea {
    padding: 10px;
    resize: none;
}

.delivery-address-text-area {
    width: 100%;
    height: 104px;
}

.checkout-delivery-details-wrapper label {
    line-height: 24px;
}

.comments-on-the-order-text-area {
    height: 104px;
}

.checkout-delivery-details-wrapper input::placeholder,
textarea::placeholder {
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.order-confirmation-input-wrapper {
    margin-bottom: 16px;
}

.form-grey-subheading {
    color: #8E8E8E;
    line-height: 24px;
}

.call-back-fieldset input {
    margin: 0;
    width: 16px;
}

.call-back-fieldset div {
    display: flex;
    gap: 8px;
}

.payment-method-heading {
    margin-bottom: 24px;
}

.order-confirmation-fieldset-heading {
    margin-bottom: 28px;
}

.order-payment-options-fieldset div {
    margin-bottom: 16px;
    display: flex;
    gap: 8px;
}

.order-payment-options-fieldset div:last-child {
    margin: 0;
}

.order-payment-options-fieldset input {
    margin: 0;
    width: 16px;
}

.checkout-delivery-details-section input::-webkit-outer-spin-button,
.checkout-delivery-details-section input::-webkit-inner-spin-button,
.checkout-delivery-details-section input::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
    margin: 0;
}

.checkout-order-overview-wrapper {
    margin-right: 110px;
    padding: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 526px;
    max-width: fit-content;
    height: fit-content;
}

.checkout-delivery-details-section input:focus::placeholder {
    visibility: hidden;
}

.checkout-delivery-details-section textarea:focus::placeholder {
    visibility: hidden;
}

.order-name-amount-wrapper {
    width: 192px;
}

.order-name-amount-wrapper h3 {
    font-size: 16px;
    margin-bottom: 8px;
    color: #8E8E8E;
    line-height: 24px;
    border-top: 1px solid #8E8E8E;
}

.order-item-amount-selector {
    padding: 4px 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
    border-radius: 4px;
    border: 1px solid #8E8E8E;
}

.order-item-amount-selector::before {
    content: "-";
    display: block;
    line-height: 24px;
}

.order-item-amount-selector::after {
    content: "+";
    display: block;
    line-height: 24px;
}

.price-per-item {
    width: 78px;
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.order-information-wrapper {
    display: flex;
    gap: 24px;
}

.order-information-wrapper h2 {
    font-size: 16px;
    font-weight: 700;
}

.total-amount-to-pay-wrapper {
    padding: 10px 0 10px;
    width: 100%;
    border-top: 1px solid #A8A8A8;
    display: flex;
    justify-content: space-between;
}

.red-price-text {
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.processing-data-input-wrapper {
    display: flex;
    gap: 8px;
}

.processing-data-input-wrapper input {
    width: 16px;
    height: 16px;
    margin: 0;
}

.buttons-wrapper {
    display: flex;
    justify-content: space-between;
}

.buttons-wrapper button {
    padding: 8px 24px;
    min-width: 215px;
    border-radius: 4px;
    outline: none;
    border: none;
    transition: background-color ease-in-out 300ms;
}

.submit-button {
    background-color: #3D76BA;
    color: white;
}

.reset-button {
    background-color: #DEDEDE;
}

.reset-button:hover {
    background-color: #EEEEEE;
}

.submit-button:hover {
    background-color: #63A1EB;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 32px 52px;
    color: white;
}

.footer-wrapper p {
    font-weight: 400;
    line-height: 24px;
}