.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;

    .modal_wrapper {
        top: -40%;
        position: absolute;
        width: 100%;
        height: 140%;
        background-color: rgba(0, 0, 0, 0.291);
    }

    .modal_body {
        z-index: 3;
        background-color: white;
        display: flex;
        flex-direction: column;
        width: 20%;
        border-radius: 15px;

        p {
            text-align: center;
            padding: 15px;
            border: 0;
            cursor: pointer;
            font-size: 18px;
            font-weight: bold;
            border-top: 1px solid black;
        }
    }
}
