.post_container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    padding: 1em 0;
    gap: 0.5em;

    .user_container {
        display: flex;
        gap: 5px;
        align-items: center;

        .user_icon {
            width: 32px;
            border-radius: 50%;
        }
    }

    .user_name {
        font-size: 18px;
        font-weight: bold;
    }

    .post_wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .post_img {
            width: 500px;
        }
    
        .image_functions_box {
            display: flex;
            justify-content: space-between;

            .like_comment_wrapper {
                display: flex;
                gap: 10px;
            }
    
            img {
                width: 24px;
                cursor: pointer;
            }
        }
    }

    p {
        font-size: 15px;
    }
}