@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX&display=swap');

$primary: #c80043;
$secondary: #d80fdc;

.aside_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    height: calc(100vh - 1em);
    padding-top: 1em;
    border-right: 1px solid black;
    position: fixed;

    .aside_box {
        display: flex;
        flex-direction: column;
        gap: 2em;
        width: fit-content;
        padding: 20px;
    }

    .aside_main_wrapper {
        display: flex;
        height: 100%;

        .aside_left_wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .aside_right_wrapper {
            display: flex;
            flex-direction: column;

            .aside_upper_box {
                display: flex;
                gap: 2em;
                flex-direction: column;
                padding: 20px;
                border-bottom: 1px solid black;
                height: fit-content;

                .aside_upper_box_title {
                    font-size: 22px;
                    font-weight: bold;
                    font-family: Arial, Helvetica, sans-serif;
                }

                .aside_upper_box_searching_input {
                    padding: 15px;
                    border: none;
                    border-radius: 7px;
                    background-color: #363636;
                    color: white;
                    opacity: 0.9;
                    outline: none;
                    width: 200px;
                    

                    &::placeholder {
                        color: white;
                        opacity: 0.8;
                    }
                }
            }

            .aside_lower_box {
                display: flex;
                gap: 0.5em;
                flex-direction: column;
                padding: 20px;
                overflow: auto;
            }
        }
    }

    .aside_icons {
        width: 25px;
        height: 25px;
    }

    .user_ava {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .page_name {
        font-family: "Playwrite MX", cursive;
        font-optical-sizing: auto;
        font-weight: 400;
        margin: 20px 0;

        background: linear-gradient(to right, $primary, $secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        font-size: 20px;
    }

    .logout_btn {
        color: red;
        margin-bottom: 2em;
    }
}

a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: black;
}

button {
    display: flex;
    align-items: center;
    width: fit-content;
    border: 0;
    background-color: white;
    font-size: 18px;
    cursor: pointer;
    padding: 20px;

    img {
        padding-right: 10px;
    }
}